div {
display: inline-block;
text-align: center;
height: 150px;
width: 150px;
margin: auto;
padding: auto;
}

.red {
background-color: red;
}

.green{
background-color: green;
}

.hide {
display: none
}
