<h1>Weather Forecast</h1>
<a [routerLink]="['/LosAngeles']">LosAngeles CA</a> | <a [routerLink]="['/SanJose']">San Jose CA</a> | <a [routerLink]="['/Seattle']">Seattle WA</a> | <a [routerLink]="['/Dallas']">Dallas TX</a>  | <a [routerLink]="['/Chicago']">Chicago IL</a> | <a [routerLink]="['/WashingtonDC']">Washington D.C</a>

<div>
  <fieldset>
    <h1>Dallas, TX </h1>
    <p>Humidity: {{humidity}}</p>
    <p>Temp (Average): {{TempAvg}}°F <p>
    <p>Temp (High): {{TempHigh}}°F</p>
    <p>Temp (Low): {{TempLow}}°F<p>
    <p>Status: {{Status}}</p>
  </fieldset>
</div>