<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Ninjas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
</head>
<body>
    <p>A ninja or shinobi was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare. Their covert methods of waging irregular warfare were deemed dishonorable and beneath the samurai-caste, who observed strict rules about honor and combat. The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period, but antecedents may have existed in the 14th century, and possibly in the 12th century (Heian or early Kamakura era).</p>
    <img src="http://ninjaide.webfactional.com/static/common/img/logo.256.png" alt="penguin ninja">
</body>
</html>