<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add New Car</title>
    </head>
    <body>
        <p><a href="/car">Blue Car</a></p>
        <p><a href="/cat">Gray Cat</a></p>
        <form class="" action="" method="post">
            <label>
                <p>Car Make: <input type="text" name="car_make" value=""></p>
            </label>
            <label>
                <p>Car Model: <input type="text" name="car_model" value=""></p>
            </label>
            <label>
                <p>Car Year: <input type="text" name="car_year" value=""></p>
            </label>
            <input type="Submit" name="" value="Submit">
        </form>
    </body>
</html>
