<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login and Registration</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Please Register!</h1>
        <form class="column" action="/add_user" method="post">
            {% with errors = get_flashed_messages(category_filter=["firstNameError"]) %}
                {% if errors %}
                <div class='error'>
                    {% for msg in errors %}
                        <small style = "color: red">{{ msg }}</small>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name">
            {% with errors = get_flashed_messages(category_filter=["lastNameError"]) %}
                {% if errors %}
                <div class='error'>
                    {% for msg in errors %}
                        <small style = "color: red">{{ msg }}</small>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" value="">
            {% with errors = get_flashed_messages(category_filter=["emailError"]) %}
                {% if errors %}
                <div class='error'>
                    {% for msg in errors %}
                        <small style = "color: red">{{ msg }}</small>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <label for="email">Email: </label>
            <input type="text" name="email" value="">
            {% with errors = get_flashed_messages(category_filter=["passwordError"]) %}
                {% if errors %}
                <div class='error'>
                    {% for msg in errors %}
                        <small style = "color: red">{{ msg }}</small>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <label for="password">Password: </label>
            <input type="text" name="password" value="">
            <label for="confirm_password">Confirm Password: </label>
            <input type="text" name="confirm_password" value="">
            <input type="hidden" name="add_user" value=""/>
            <input type="submit" name="" value="Submit">
        </form>
        <form class="column" action="/check" method="post">
            <h1>Please log in!</h1>
            {% with errors = get_flashed_messages(category_filter=["inputError"]) %}
            {% if errors %}
            <div class='error'>
                {% for msg in errors %}
                <small style = "color: red">{{ msg }}</small>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <label for="email">Email: </label>
            <input type="text" name="email" value="">
            <label for="password">Password: </label>
            <input type="text" name="password" value="">
            <input type="hidden" name="check" value=""/>
            <input type="Submit" name="" value="LOG IN!">
        </form>
    </body>
</html>
