<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quote-tation</title>
</head>
<body>
    <h1>Welcome to Quote-tation!</h1>
    <ul>
    <% if(typeof(errors) != 'undefined') { %>
        <% for(var x in errors) { %>
            <li><%= errors[x].message %></li> 
        <% } %>
    <% } %>

    <form action="/process" method="POST">
    <p>Your Name: <input type="text" name="name"></p>
    <p>Quote: <input type="text" name="quote"></p>
    <input type="Submit" value="Add my quote!">
    </form>
    <button><a href="/quotes">Skip to quotes!</a></button>
</body>
</html>

