img {
    height: 150px;
    width: 150px;
}

#wrapper {
    background-color: #CBC99E;
    padding: 15px;
    text-align: center;
}

h1 img {
    height: 100px;
    width: 200px;
    background-color: white;
}


.blue{
    background-color:#70A3E9;
    vertical-align: top;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-style: solid;
    border-color: black;
}

.red{
    background-color:#ED505D;
    vertical-align: top;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-style: solid;
    border-color: black;    
}
