* {
  font-family: arial;
}

a{
  color: #07B5D7;
}

h3 {
  color: #2B6099;
}

#wrapper {
  width: 970px;
  height: 900px;
}

#header {
  width: 970px;
}

#header p {
  font-size: 42px;
  margin-bottom: 0px;
  margin-left: 120px;
}

#header a {
  text-decoration: none;
}

#header img {
  position: relative;
  top:120px;
  left: 20px;
  height: 100px;
  width: 100px;
}

#www {
  background: #295B92;
  color: white;
  height: 70px;
  font-size: 30px;
  text-align: left;
}

#www p {
  margin-left: 10px;
  padding: 15px;
  margin-top: 0px;
}

#sidebar {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.button {
  display: inline-block;
  height: 20px;
  width: 180px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 1px;
}

#blue {
  background: #2B6099;
}

#orange {
  background: #E68320;
}

#sidebar a {
  padding: 5px;
  text-decoration: none;
  shadow: 10px black;
}
span {
  color: red;
}

#content {
  display: inline-block;
  vertical-align: top;
  width: 700px;
}

#ad {
  display: inline-block;
  background-image: url(images/ad_background.png);
  length: 300px;
}

#ad p {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}

#ad a {
  display: inline-block;
  height: 20px;
  width: 120px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 1px;
  background: #07B5D7;
  margin-bottom: 20px;
  margin-left: 30px;
}

#ad img{
  position: relative;
  bottom: 20px;
  left: 60px;
  height: 100px;
  width: 70px;
}

#contactus {
  display: inline-block;
  vertical-align: top;
  height: 120px;
  width: 700px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#DNS {
  display: inline-block;
  margin-top: 30px;
  margin-right: 332px;
}

#DNS img {
  position: relative;
  top: 15px;
  height: 30px;
  length: 30px;
  margin-left: 50px;
}

#tele {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-top: 0px;
  font-size: 14px;

}

#tele img {
  position: relative;
  top: 57px;
  left: 80px;
  height: 50px;
  length: 50px;
}

#tele p {
  color: #07B5D7;
  font-size: 18px;
}

#maincontent img {
  text-align: center;
  width: 300px;
  margin-left: 200px;
}


#maincontent {
  display: inline-block;
  vertical-align: top;
  width: 700px;
  margin-left: 20px;
  border-top: 1px solid black;
}


#bigthree {
  border: 3px solid #006FD8;
  border-bottom: 0;
  width: 700px;
  margin-left: 20px;
}

#bigthree img {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  padding-left: 20px;
  height: 100px;
  width: 100px;
}

#threeinfo {
  display: inline-block;
  vertical-align: top;
  font-size::14px;
  width: 500px;
}

#threeinfo p {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  max-width:600px;
}
