<!DOCTYPE html>
<html>
<head>
	<title>Cars Index</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	 <% if(typeof(errors) != 'undefined' ) { %>
	     <% for (var x in errors) { %>
	      <p class="error"><%= errors[x].message %></p>
	     <% } %>
	 <% } %>

	<h2>Create a New Car!</h2>
	<form action="/cars" method="POST">
		<p>Make <input type="text" name="make"></p>
		<p>Model <input type="text" name="model"></p>
		<p>Year <input type="text" name="year"></p>
		<p>Image <input type="text" name="image"></p>
		<input type="submit" value="Create Car">
	</form>
	<a href="/">Return to Home Page</a>
</body>
</html>