<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Scott</title>
    </head>
    <body>
        <h1>Who's Scott?</h1>
        <p>Scott is a curious web developer with knowledge in both front and back end technologies. Scott has a deep understanding of HTML, CSS, JavaScript, Python and iOS. I know frameworks such as AJAX, FLASK, DJANGO, and much more! Scott started his coding journey on April 17, 2017 at Coding Dojo in Burbank. If there is anything that coding taught me, it is patience. Be steadfast, keep on keeping on, and ALWAYS BE CODING! </p>
    </body>
</html>
