li {
font-size: 2em;
}

h2{
color: red
}

.blue {
color: blue;
text-decoration: none;
}


.red {
color: red;
text-decoration: none;
}


.orange{
color: orange;
text-decoration: none;
}

.purple {
color: purple;
text-decoration: none;
}