<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        <style media="screen">
            .error{
                color:red;
            }
            .success{
                color:green;
            }
        </style>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h1>Hello {{request.session.first_name}}!</h1>
        <p><a href="/logout/">Logout</a></p>

        <form class="" action="/post/" method="post">
            {% csrf_token %}
            <textarea name="content" rows="8" cols="80"></textarea>
            <p><span><input type="Submit" name="" value="Submit"></span>
            <span><a href="/popular">Most Popular Secrets</a></span></p>
        </form>

        <h1>Recent Secrets...</h1>
        <hr style="width:90%">

        {% for secret in secrets %}
        <p>{{secret.content}} - ({{secret.created_at}})

            {% if secret.user.id == request.session.user_id %}
            <a href="/delete/{{secret.id}}">Delete</a></p>
            {% else %}
            <i>{{secret.num_likes}} like(s)</i>
                {% if secret in my_likes %}
                    <b>You liked this</b></p>
                {% else %}
                    <a href="/like/{{secret.id}}">Like</a></p>
                {% endif %}
            {% endif %}
        <br>
        {% endfor %}
    </body>
</html>
